body {
  background: url("../img/Vader.jpg") no-repeat center 20% fixed;
  background-size: cover;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3.7em;
  color: #FFFF00;
  font-family: 'Bangers';
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.7em;
  color: #FFFF00;
  font-family: 'Bangers';
}
